@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.info-jugador{
    font-size:large;
    font-family: 'Audiowide', cursive;
}

.numero{
    color:gray;
    font-family: 'Audiowide', cursive;
}